% include('nav.html')

<div class="container">
    <p>Osnovne nastavitve</p>
    <form action="/" method="POST">
        <div class="control">
            <div class="control">
                <input class="input" type="number" min="1" placeholder="Število vrstic" name="st_vrstic" step="1" required>
            </div>
            <div class="control">
                <input class="input" type="number" min="1" placeholder="Število stolpcev" name="st_stolpcev" step="1" required>
            </div>
            <div class="control">
                <input class="input" type="text" placeholder="Uporabniško ime" name="uporabnisko_ime" required>
            </div>
            <div class="control">
                <input type="submit" class="btn btn-primary" value="Play">
            </div>
        </div>
    </form>

    % if defined('uporabniki'):
        <br>
        <table class="table table-striped table-dark">
            <thead>
                <th>#</th>
                <th>Uporabnik</th>
                <th>Score</th>
            </thead>
            % for i, uporabnik in enumerate(uporabniki):
                    <tr>
                        <td>{{i + 1}}</td>
                        <td>{{uporabnik.uporabnisko_ime}}</td>
                        <td>{{uporabnik.score}}</td>
                    </tr>
            % end
        </table>
        <br>
    % end

    % if defined('warning'):
        <br>
        <button class='btn btn-danger btn-block'>
            You lost!
            <h4>Score: {{score}}</h4>
        </button>
    % end
</div>