% include('nav.html')

<div class="container">
    <b><h1 class="text-center">Navodila</h1></b>
    <ul class="list-group">
        <li class="list-group-item list-group-item-action">Uporabnik izbere velikost polja in uporabniško ime</li>
        <li class="list-group-item list-group-item-action">Odpira polja in če izbere mina izgubi</li>
        <li class="list-group-item list-group-item-action">Če izbere vsa prazna polja, zmaga</li>
        <li class="list-group-item list-group-item-action">Na koncu je mogoče da spet začne</li>
        <li class="list-group-item list-group-item-action">Najboljši skor se shrani z uporabnika v tabelo</li>
    </ul>
</div>